.catalog-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
.catalog-item{
    width: 235px;
    height: 320px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 6px rgb(208 210 211);
    .catalog-item-img{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 215px;
      height: 215px;
      margin: 10px;
      padding: 10px;
      box-shadow: 0 0 6px rgb(208 210 211);
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        img{
        max-width: 100%;
        max-height: 100%;
        cursor: pointer;
        }
      }
      
    }
    .catalog-item-descriptions{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      .catalog-item-description{
        display: flex;
        flex-direction: column;
        width: 145px;
        .catalog-item-name{
          width: 140px;
          font-size: 10px;
          word-break: break-word;
          cursor: pointer;
          text-decoration: none;
          color: initial;
        }
        .catalog-item-price{
          font-size: 15px;
          color: #7db122;
          font-weight: 100;
          margin-top: 10px;
        }
      }
      .catalog-item-buy{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .catalog-item-buy-btn{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: #7db122;
          border: none;
          font-size: 20px;
          cursor: pointer;
          z-index: 1;
          svg{
            path{fill: #fff;}
          }
        }
        .catalog-item-buy-btn.active{
          background-color: #496813;
        }
      }
    }
  }
}