@import "../../../style.scss";
.footer-middle-wrap{
    width: 100%;
    height: 330px;
    background-color: #39a0b9;
    display: flex;
    justify-content: center;
    .footer-middle-container{
      width: $container-width;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .footer-middle-item{
        width: 230px;
        height: 240px;
        .footer-middle-title{
          color: #fff;
          text-transform: uppercase;
          font-size: 15px;
          font-weight: 100;
          margin-bottom: 30px;
        }
        .footer-like-members{
          display: flex;
          flex-direction: column;
          height: 45px;
          .footer-like-members-text{
            color: #fff;
            font-size: 10px;
            margin-bottom: 5px;
          } 
          .footer-like-members-btn{
            background-color: #fff;
            border: none;
            width: 50px;
            height: 20px;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            font-size: 8px;
            padding-left: 15px;
            font-weight: 600;
            img{
              position: absolute;
              width: 30px;
              height: 20px;
              left: 0;
              top: -1px;
            }
          }
        }
        .footer-like-members-avatar{
          display: grid;
          grid-template-columns: repeat(4, 60px);
          grid-template-rows: repeat(2, 60px);
          border-top: 1px solid #4cb1ca;
          border-bottom: 1px solid #4cb1ca;
          .footer-like-members-avatar-item{
            display: flex;
            align-items: center;
            img{
              width: 50px;
              height: 50px;
            }
          }
          
        }
        .footer-like-members-avatar-text{
          color: #fff;
          font-size: 10px;
          margin-top: 10px;
        }

        /*----------------------------------*/

        .footer-from-twiter-text{
          display: flex;
          flex-direction: row;
          margin-bottom: 40px;
          .twitter-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            width: 45px;
            height: 45px;
            background-color: #fff;
            border-radius: 50%;
          }
          .footer-from-twiter-description{
            width: 150px;
            height: 70px;
            margin-left: 10px;
            font-size: 13px;
            font-weight: 100;
            .normal-text{
              color: #fff;
            }
            .transpatent-text{
              color: #9ae2f4;
            }
          }
        }
        /*----------------*/
        .information-list-wrap{
          height: 135px;
          width: 185px;
          .information-list-item{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            svg{
              path{fill: #ffffff;}
            }
            span{
              color: #fff;
              font-size: 12px;
              margin-left: 10px;
            }
          }
        }
        /*---------------*/
        .contact-information-wrap{
          width: 190px;
          height: 125px;
          border-bottom: 1px solid #4cb1ca;
          .contact-information-item{
            margin-bottom: 11px;
            color: #fff;
            font-size: 12px;
          }
        }
        .contact-icons{
          display: flex;
          flex-direction: row;
          margin-top: 15px;
          .contact-icons-item{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #fff;
            font-size: 20px;
            margin-right: 10px;
            svg{
              fill: #39a0b9;
            }
          }
        }
      }
    }
  }