.to-do-list-container{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0;
}
.do-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffe4c4a8;
    margin: 10px;
    border-radius: 25px;
}
.list{
    margin: 10px 0 10px 10px;
}
.list-item{
    padding: 10px 0 10px 0;
    font-size: 150%;
    word-break: break-word;
    margin-left: 40px;
}
.done{
    text-decoration: line-through;
}
.check{
    margin: 10px 5px 5px 5px;
    width: 35px;
    height: 16px;
}