@import "../../style.scss";

.basket-items-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: $page-width;
    padding: 25px;
    border-top: 1px solid #f1f0f0;
    border-bottom: 1px solid #f1f0f0;
    .basket-container{
        width: $container-width;
        height: 100%;
        display: flex;
        flex-direction: column;
        
        .result-price{
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            width: 100%;
            margin-top: 20px;
            .add-to-basket{
                width: 235px;
                height: 55px;
                border-radius: 40px;
                border: none;
                background-color: #7db122;
                color: #fff;
                font-size: 23px;
                transition: all .5s;
            }
            .add-to-basket:hover{
                background-color: #6c9b1c;
            }
            .result-price-text{
                font-size: 35px;
                margin-left: 50px;
            } 
        }
        .empty-cart{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 170px;
            font-size: 40px;
        }
    }
}