@import "../../style.scss";
.promo-slider-wrap{
    width: 100%;
    height: 475px;
    display: flex;
    justify-content: center;
    position: relative;
    .slide-item-img{
      width: $page-width;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      z-index: -1;
    }
    .promo-slider-container{
      width: $container-width;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: space-between;
      .promo-lider-btn{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #ffffff;
        border: none;
        font-size: 30px;
        padding-top: 5px;
        box-shadow: 0px 0px 8px white;
        svg{
          path{fill: #C0C0C0}
        }
      }
      .promo-slider-description{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 100px;
        .slider-item-text{
          display: flex;
          align-items: center;
          background-color: rgba(31, 31, 31, 0.267);
          text-transform: uppercase;
          font-size: 27px;
          padding: 10px;
          
        }
        .promo-slider-item-name{
          width: 280px;
          font-weight: 100;
          color: rgba(255, 255, 255, 0.507);
        }
        .promo-slider-item-description{
          width: 325px;
          font-weight: 900;
          color: rgba(255, 255, 255, 0.808);
          margin-top: 5px;
        }
      }
    }
  }