$container-width: 1020px;
$page-width: 1400px;
*,html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 1920px;
  display: flex;
  justify-content: center;
  .container-page{
  width: $page-width;
    .main-wrap{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 100px 0 100px 0;
      .catalog-wrap{
        width: 760px;
        height: 100%;
    }   
    }
  }
}



  
