$container-width: 1020px;
$page-width: 1400px;
*,html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 1920px;
  display: flex;
  justify-content: center;
  .container-page{
  width: $page-width;
    .header{
      width: 100%;
      display: flex;
      flex-direction: column;
      .header-top-wrap{
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #4cb1ca;
        .header-top-container{
          width: $container-width;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .page-parametr{
            width: 260px;
            display: flex;
            flex-direction: row;
            .language, .currency{
              width: 50%;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              .language-label, .currency-label{
                font-size: 14px;
                color: #bef2ff;
              }
              .language-select, .currency-select{
                font-size: 14px;
                color: #b7e0ea;
                background-color: transparent;
                border: none;
                margin-left: 5px;
              }
            }
          }
        }
        .rout-page-wrap{
          width: 400px;
          display: flex;
          align-items: center;
          justify-content: center;
          .rout-page-items{
            color: #ffffff;
            .rout-page-item{
              font-size: 14px;
              margin: 0 15px 0 15px;
              cursor: pointer;
            }
          }
        }
      }
      .header-bottom-wrap{
        width: 100%;
        height: 110px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        .header-bottom-container{
          width: $container-width;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          .shop-title-wrap{
            width: 170px;
            font-size: 16px;
            text-transform: uppercase;
          }
          .rout-filter-items{
            width: 400px;
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            cursor: pointer;
            font-weight: 900;
            .rout-filter-top, .rout-filter-bottom{
              display: flex;
              justify-content: space-around;
              align-items: center;
              .filter-item{
                width: 200px;
                margin-top: 10px;
                text-align: center;
              }
            }
            
          }
          .search-page-wrap{
            width: 175px;
            display: flex;
            position: relative;
            .search-page-input{
              width: 100%;
              height: 30px;
              padding-left: 10px;
            }
            .search-button{
              background-color: transparent;
              border: none;
              position: absolute;
              right: 10px;
              top: 6px;
              font-size: 15px;
              cursor: pointer;
            }
          }
          .cart-wrap{
            width: 150px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
              width: 35px;
              height: 35px;
              background-color: #7db122;
              border-radius: 50%;
              border: none;
              font-size: 15px;
            }
            span{
              font-size: 15px;
              text-transform: uppercase;
              font-weight: 900;
              margin-left: 10px;
            }
          }
        }
      }
    }
    .promo-slider-wrap{
      width: 100%;
      height: 475px;
      display: flex;
      justify-content: center;
      position: relative;
      .slide-item-img{
        width: $page-width;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        z-index: -1;
      }
      .promo-slider-container{
        width: $container-width;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        .promo-lider-btn{
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background-color: #ffffff;
          border: none;
          font-size: 30px;
          padding-top: 5px;
          box-shadow: 0px 0px 8px white;
        }
        .promo-slider-description{
          display: flex;
          flex-direction: column;
          position: absolute;
          left: 100px;
          .slider-item-text{
            display: flex;
            align-items: center;
            background-color: rgba(31, 31, 31, 0.267);
            text-transform: uppercase;
            font-size: 27px;
            padding: 10px;
            
          }
          .promo-slider-item-name{
            width: 280px;
            font-weight: 100;
            color: rgba(255, 255, 255, 0.507);
          }
          .promo-slider-item-description{
            width: 325px;
            font-weight: 900;
            color: rgba(255, 255, 255, 0.808);
            margin-top: 5px;
          }
        }
      }
    }
    .main-wrap{
      height: 1980px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .catalog-wrap{
        width: 760px;
        height: 1980px;
        margin-top: 50px;
        .catalog-title{
          font-size: 16px;
          font-weight: 100;
        }
        .catalog-title:not(:first-child){
          margin-top: 50px;
        }
        .catalog-container{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          
          .catalog-item{
            width: 235px;
            height: 320px;
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 0 6px rgb(208 210 211);
            .catalog-item-img{
              width: 215px;
              height: 215px;
              margin: 10px;
              padding: 10px;
              box-shadow: 0 0 6px rgb(208 210 211);
              img{
                width: 100%;
                height: 100%;
              }
              
            }
            .catalog-item-descriptions{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              padding: 10px;
              .catalog-item-description{
                display: flex;
                flex-direction: column;
                width: 145px;
                .catalog-item-name{
                  font-size: 8px;
                  word-break: break-all;
                }
                .catalog-item-price{
                  font-size: 12px;
                  color: #7db122;
                  font-weight: 100;
                  margin-top: 10px;
                }
              }
              .catalog-item-buy{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .catalog-item-buy-btn{
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  background-color: #7db122;
                  border: none;
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
      .sale-wrap{
        width: 235px;
        height: 470px;
        display: flex;
        justify-content: center;
        box-shadow: 0 0 6px rgb(208 210 211);
        margin: 95px 0 0 30px;
        .sale-container{
          display: flex;
          align-items: center;
          flex-direction: column;
          .sale-img{
            width: 205px;
            height: 420px;
            box-shadow: 0 0 6px rgb(208 210 211);
            overflow: hidden;
            img{
              width: 100%;
              height: 100%;
              padding: 10px;
              object-fit: cover;
              position: relative;
            }
          }
            .sale-slider{
              width: 70px;
              display: flex;
              align-items: center;
              justify-content: space-around;
              margin-top: 20px;
              .slider-item{
                width: 10px;
                height: 10px;
                background-color:#7db122;
                border-radius: 50%;
              }
              .slider-item.active{
                background-color: #4cb1ca;
              }
            }
        }
      }
    }
    footer{
      width: 100%;
      height: 500px;
      .footer-top-wrap{
        width: 100%;
        height: 105px;
        background-color: #4cb1ca;
        display: flex;
        justify-content: center;
        .footer-top-container{
          width: $container-width;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .footer-top-item{
            width: 47%;
            height: 100%;
            display: flex;
            align-items: center;
            .footer-top-icon{
              width: 65px;
              height: 65px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #ffffff;
              font-size: 25px;
              border-radius: 50%;
            }
            .footer-top-description{
              margin-left: 15px;
              font-size: 22px;
              font-weight: 100;
              text-transform: uppercase;
              color: #ffffff;
            }
          }
        }
      }
      .footer-bottom-wrap{
        width: 100%;
        height: 60px;
        background-color: #0b4b5a;
        display: flex;
        justify-content: center;
        .footer-bottom-container{
          width: $container-width;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .footer-bottom-item{
            display: flex;
            justify-content: space-between;
            width: 40%;
            .footer-bottom-item-description{
              color: #8adcf0;
              font-size: 10px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  
}