@import "./var.scss";

*,html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root{
  width: 1920px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $primary_color;
}



  
